@import url(https://fonts.googleapis.com/css?family=Amatic+SC:400,700|Raleway:400,300,700);

.catImage , .catImage2{
border: 7px solid #7b564f;
}
.catImage {
  width: 46.5%;
  margin-bottom: 30px;
}

.catImage2 {
  width: 46.5%;
  float: right;
  margin-bottom: 30px;
}

.catName{
  text-decoration: underline;
  background:rgba(0, 86, 255, 0.2);
  font-size: 20px;
  text-align: center;

}

.nav.pills>li{
  font: white;
}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #7b564f;
  font: white;
}

small{
  font-weight: bold;
  font-style: italic;
}

h1{
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  font-family: 'amatic';
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 5px solid #425454;
}

body{
  background-color: #f4eeb4;
  font-family: 'raleway';
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
}

.text-success {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.carousel{
    margin-top: 20px;
    background: #adc4a0;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}
.bs-example{
	 margin: 20px;
}

.panel > .panel-heading{
  background-image: none;
  background-color: #425454 !important;
  color: #adc4a0 !important;
}

.panel > .panel-body{
  background-color: #adc4a0;
  color: #7b564f;
}

#submitButton {
  margin-top: 20px;
  text-align: center;
  color: #adc4a0;
  background: #425454;
}
