@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700|Audiowide);

/* this is how the images on the review page have borders around them */
.catImage , .catImage2{
border: 7px solid #7b564f;
}
/* this allows the review page to have two images per column */
.catImage {
  width: 46.5%;
  margin-bottom: 30px;
}

.catImage2 {
  width: 46.5%;
  float: right;
  margin-bottom: 30px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: #7b564f;
  font: white;
}

h1{
  font-size: 40px;
  text-align: center;
  font-weight: 400;
  font-family: 'Audiowide';
  margin-bottom: 30px;
  padding-bottom: 10px;
  border-bottom: 5px solid #425454;
}

body{
  background-color: #f4eeb4;
  font-family: 'raleway';
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 50px;
}

.carousel{
    margin-top: 20px;
    background: #adc4a0;
}
.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.panel > .panel-heading{
  background-image: none;
  background-color: #425454 !important;
  color: #adc4a0 !important;
}

.panel > .panel-body{
  background-color: #adc4a0;
  color: #7b564f;
}

#submitButton {
  margin-top: 20px;
  text-align: center;
  color: #adc4a0;
  background: #425454;
}
